*
{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    border-radius: 10px;
    box-sizing: border-box;
}
body{
    background-color: #2e79ba;
    display:flex;
    justify-content: center;
   padding-top: 30px;
}
.container
{
    position: relative;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:10px;
    background-color:#5fc9f3;
    padding :40px 60px;
}
h1{
    font-size:40px;
    text-transform: uppercase;
    color:white;
}
.reset
{
    padding : 15px 20px;
    text-transform: uppercase;
    cursor: pointer;
    letter-spacing:0.1em;
    font-weight:600;
    font-size:1em;  
}
.reset:focus{
    background-color:#2e79ba;
}
.game
{
    width:440px;
    height:440px;
    display:flex;
    flex-wrap: wrap;
    gap:10px;
    transform-style:preserve-3d;
    perspective: 500px;
}
.item
{
    position:relative;
    height: 100px;
    width:100px;
    display: flex;
    justify-content:center;
    align-items:center;
    font-size:2em;
    background-color: white;
    transform: rotateY(180deg);
    transition: 0.25s;
    
}
.item.boxOpen
{
    transform: rotateY(0deg);
}
.item::after{
    content: '';
    position: absolute;
    inset:0;
    background-color: #2e79ba;
    /*opacity: 0.7*/;
    transition: 0.25s;
    transform: rotate(0deg);
    backface-visibility: hidden;

}
.boxOpen::after,
.boxMatch::after{
    transform: rotateY(180deg);
}